@import url("common.css");
.image-container {
    background-image: url("https://nurseryschool.wustl.edu/files/2015/03/group-holi.jpg");
}

main ol{
    list-style-position: inside;
    /* display: list-item; */
    margin-left: 1.5em;
    padding: -10px;
}

main li{
    display: block;
    position: relative;
}